*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	
}

h1{
	color: blue;
	margin-bottom: 1em;
}

p{
	margin-top: 10px;
	font-size: 13px;
	text-align: justify;
}
.container, .book-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 100%;
	height: 100vh;
	background: url(../img/mesa2.jpg) no-repeat center center/cover;
}
.book-content{
	width: 65%;
	min-width: 250px;
	max-width: 500px;
	height: 430px;
	position: relative;
	perspective: 1000px;
	transition: 2s;
}
.book{
	position: absolute;
	width: 65%;
	height: 100%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left; 
}
.face-front, .face-back{
	width: 100%;
	height: 100%;
	background: white;
	padding: 15px;
	box-sizing: border-box;
	overflow: hidden;
}
.face-front{
	box-shadow: inset 3px 0px 20px -7px black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.face-back{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	box-shadow: inset -3px 1px 20px -7px black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

img{
	width: 100%;
	height: 50%;
	border: 1px solid green;
	margin-top: 2em;
}
#portada{
	background: url('../img/portafolio2.png');
}
#portada-back{
	background: url('../img/Fin2.png');
}
#portada, #portada-back{
	background-size: 100% 100%;
	overflow: hidden;
}

.trnsf{
	transform: translateX(80px);
}
.trnsf-reset{
	transform: translateX(0px);
}

@media screen and (max-width: 800px){
	p{
		font-size: 12px;
	}
}



