:root{
    --rango-tam-em1-25: 1.25em;
    --rango-tam-em1-6: 1.6em;
    --rango-tam-em1-75: 1.75em;
    --rango-tam-em2: 2em;
    --rango-tam-em2-7: 2.7em;
    --rango-tam-em3-2: 3.2em;
    --rango-tam-em3: 3.5em;


    ---rango-tam-px0-2: 2px;
    --rango-tam-px0-5: 5px;
    --rango-tam-px1: 10px;
    --rango-tam-px1-2: 12px;
    --rango-tam-px1-5: 15px;
    --rango-tam-px1-6: 16px;
    --rango-tam-px2: 20px;
    --rango-tam-px2-5: 25px;
    --rango-tam-px3: 30px;
    --rango-tam-px5: 50px;

    --max150: 150px;
    --max200: 200px;
    --max200: 250px;


    --color1: rgb(101, 33, 165);
    --color2: rgb(245,245,245);
    --color3: rgb(30,30,30);
    --color4: rgba(0,0,0,0.5);
    --color5: rgb(30,30,30);
    --color6: rgb(230,230,230);
    --color7: rgb(100,100,100);


    --max-width: 1400px;

}